name: Orchestrate Downstream Tests

on:
  workflow_run:
    workflows: ["Build and deploy Python app to Azure Web App - jas-demo-api"]   # <-- CHANGE THIS to match your deploy workflow name exactly
    types:
      - completed

jobs:
  trigger:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger pytest repo
        run: |
          curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ORCHESTRATE }}" \
            https://api.github.com/repos/PhoenixAnvil/api-tests/actions/workflows/ci.yml/dispatches \
            -d '{"ref":"main","inputs":{"base_url":"https://jas-demo-api-c4hehfg8h3hye8ap.centralus-01.azurewebsites.net/"}}'

      - name: Trigger k6 repo
        run: |
          curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ORCHESTRATE }}" \
            https://api.github.com/repos/PhoenixAnvil/api-performance/actions/workflows/ci.yml/dispatches \
            -d '{"ref":"main","inputs":{"base_url":"https://jas-demo-api-c4hehfg8h3hye8ap.centralus-01.azurewebsites.net/"}}'
